<div>
  <div>
    Profile Page
  </div>
  <div>
    User Specific Content
    <div>
      {{user._id}}
    </div>
    <div>
      {{user.twitter.displayName}}
    </div>
    <div>
      {{user.twitter.username}}
    </div>
    <div>
      {{user.twitter.token}}
    </div>
    <div>
      {{user.twitter.id}}
    </div>
  </div>
  <div>
    <a href = "/logout">Logout</a>
    <a href = "/">Home</a>
  </div>
</div>
